@import 'nib/gradients'
@import 'nib/vendor'

vendors-prefixes = o ms moz webkit official

opacity(n)
  opacity n
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

.smart-style-3 #header
    background-color: #3EA7D1;
    background-image: linear-gradient(to bottom, #3EA7D1, #058DC7);
.logo-principal
    margin: 50px;
    text-align: center;
div.dataTables_filter label
    float: left;
#verlugarCedula
    color: red;
    font-size: 10em;
    margin: 0 auto;
    text-align: center;
@import "index.styl"
@import "usuarios.styl"
@import "horarios.styl"