@import 'nib/gradients'
@import 'nib/vendor'

vendors-prefixes = o ms moz webkit official

opacity(n)
  opacity n
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

@import "usuarios.styl"
@import "horarios.styl"